body {
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: aqua;
}

.main {
    display: flex;
    flex-direction: row;
    background-color: beige;
}

.footer {
    display: flex;
    flex-direction: row;
    background-color: gray;
}